<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('LTP')" data-ng-class="{active: currency.symbol == 'LTP'}">LTP</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mLTP')" data-ng-class="{active: currency.symbol == 'mLTP'}">mLTP</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uLTP')" data-ng-class="{active: currency.symbol == 'uLTP'}">uLTP</a>
  </li>
</ul>

